.main-div{
    width: 75%;
    height: auto;
    margin: auto;
    border: 2px solid black;
}
.fast{
    width: 60%;
    height: 20px;
    background: rgb(160, 83, 83);
   margin-left: 20px;
    border: 3px solid red;
    padding: 10px;
}
.secend{
    width: 60%;
    height: 20px;
    background: rgb(46, 15, 15);
   margin-left: 60px;
    border: 3px solid green;
    padding: 10px;
    color: white;
}
.thared{
    width: 60%;
    height: 20px;
    background: rgb(131, 23, 23);
    margin-left: 100px;
    border: 3px solid black;
    padding: 10px;
    color: white;
}
.foure{
    width: 90%;
    height: 20px;
    background: rgb(13, 102, 175);
    margin-left: 20px;
    border: 3px solid rgb(22, 2, 2);
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
   
}
.five{
    width: 60%;
    height: 20px;
    background: rgb(15, 146, 33);
   margin-left: 100px;
    border: 3px solid rgb(167, 21, 21);
    padding: 10px;
    color: white;
}
.six{
    width: 60%;
    height: 20px;
    background: rgb(182, 28, 187);
   margin-left: 60px;
    border: 3px solid rgb(9, 10, 9);
    padding: 10px;
    color: white;
}
.seven{
    width: 60%;
    height: 20px;
    background: rgb(40, 152, 167);
   margin-left: 20px;
    border: 3px solid rgb(15, 211, 25);
    padding: 10px;
}